entryPoint: "experiments/spreadsheet"
remoteDependencies: [
  "https://sdk.amazonaws.com/js/aws-sdk-2.2.42.min.js"
  "https://api-cdn.amazon.com/sdk/login1.js"
  "https://unpkg.com/dexie@2.0.0-beta.7/dist/dexie.js"
]
dependencies:
  observable: "distri/observable:master"
  postmaster: "distri/postmaster:v0.5.0"
width: 1024
height: 720
