*
  box-sizing: border-box

file
  position: relative

  .path
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    width: 200px

  & > .delete
    position: absolute
    left: 220px
    top: 0

folder
  display: block

  &::before
    content: "[+]"

  & > file, & > folder
    display: none
    padding-left: 1em

  &.expanded
    &::before
      content: "[-]"

    & > file
      display: block
    & > folder
      display: block

editor
  display: block
  margin-top: 1em

textarea
  display: block
  width: 100%
