*
  box-sizing: border-box

body
  margin: 0

body, html
  height: 100%

file
  position: relative

  .path
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    width: 200px

  & > .delete
    position: absolute
    left: 220px
    top: 0

folder
  display: block

  &::before
    content: "[+]"

  & > file, & > folder
    display: none
    padding-left: 1em

  &.expanded
    &::before
      content: "[-]"

    & > file
      display: block
    & > folder
      display: block

.os
  display: flex
  height: 100%

  & > folder
    flex-grow: 0
    height: 100%
    width: 250px

  & > iframe
    flex-grow: 1
    height: 100%

editor
  display: block
  margin-top: 1em

textarea
  display: block
  width: 100%
